html {

}


body {
  display: flex;
  flex-direction:column;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*header containers - name and nav bar*/

.head {
  display: flex;
  flex-direction: column;
}

#head-name {
  justify-content: center;
  align-self: center;
}

#head-nav {
  justify-content: center;
  align-self: center;
}

/*-----Main-----*/

main{
  display:flex;
  flex-direction:column;
  width: 100%;
  margin: none;
  padding: none;
}

/****Centered columns for each section****/

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: none;
  padding: none;
}

/***IMAGE***/

#pic {
  display: flex;
}

img {
  width: 50%;
  margin: auto;
  border-radius: 50%;
}

#slogan {
  display:flex;
  align-items: center;
  justify-content: center;
}

/***Design the sections***/
.title-cont {
  display:flex;
  width: 100%;
  margin: 20% auto 5%;
}

.exp-cont, ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  width: 100%;
  margin: 5% auto;
}

#contact-cont {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****TABLET AND DESKTOP****




***************************************************************/

@media screen and (min-width: 767px) {
  html {

  }


  body {
/*    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: center;
    align-items: center;
*/
  font-family: 'Exo 2', sans-serif;

  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;

  }

h1 {
  font-family: 'Pathway Gothic One', sans-serif;
}
  /*header containers - name and nav bar*/

  .head {
    display: flex;
    flex-direction: row;

  }

  #head-name {
    justify-content: center;
    align-self:center;
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: 10%;
    width: 75%;
  }

  #head-nav {
    justify-content: space-around;
    align-self: center;
    width: 75%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding-right: 20%;
  }

  p a {
    font-family: 'Pathway Gothic One', sans-serif;
    text-decoration: none;
  }

  /*-----Main-----*/

  main{
    display:flex;
    flex-direction:column;
    width:100%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-family: 'News Cycle', sans-serif;
  }

  #pic-slogan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;

  }


  /***IMAGE***/



  #pic {
    display: flex;
  }

  img {
    width: 50%;
    margin: auto;
    border-radius: 50%;
  }

  #slogan {
    display:flex;
    align-items: center;
    justify-content: center;
  }


  /****Centered columns for each section****/

  .wrapper-des {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*margin: none;
    padding: none;*/
  }

  /***Design the sections***/
  .title-cont {

    width: 100%;

  }

.lists-desk {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

  .exp-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
  /*  width: 100%;*/
    margin: 5% auto;
  }

#skills-list li {
  width: 33%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*#int-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}*/

.hobby {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
  }
}

/*****WORK EXPERIENCE*****/
